{% extends 'dash_main.html' %}
{% block main %}
<div class="page-inner">
    {% if messages %}
    <div class="bg-white p-5 text-center mb-3">
        {% for message in messages %}
        <div {%if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="page-category">
        <div class="container">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex w-100 justify-content-between">
                        <div class="card-title">Short Tasks</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                                <button class="btn btn-sm btn-black">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    View
                                                </button>
                                                <button class="btn btn-sm btn-black">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    Edit
                                                </button>
                                                <button class="btn btn-sm btn-black">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}