{% extends 'dash_main.html' %}
{% load %}
{% block main %}
<div class="page-inner">
    {% if messages %}
    <div class="bg-white p-5 text-center mb-3">
        {% for message in messages %}
        <div {%if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="page-category">
        <div class="container">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex w-100 justify-content-between">
                        <div class="card-title">Applied Listings/Tasks</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Job Entry</th>
                                        <th scope="col">Created On</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in my_applications %}
                                    <tr>
                                        <td>{{ application.job|title }}</td>
                                        <td>{{ application.create_date }}</td>
                                        <td>{{ application.status|capfirst }}</td>
                                        <td>
                                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                                <button class="btn btn-sm btn-black" data-bs-toggle="modal"
                                                    data-bs-target="#viewApplicationModal{{ application.id }}">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    View
                                                </button>
                                                <!-- New application modal -->
                                                <div class="modal fade" id="viewApplicationModal{{ application.id }}"
                                                    tabindex="-1">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Application Form</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Floating Labels Form -->
                                                                <form class="row g-3" method="post">
                                                                    {% csrf_token %}
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ application.job | title }}"
                                                                                disabled>
                                                                            <label>Job Entry</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ application.email }}"
                                                                                name="email">
                                                                            <label>Email</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ application.website }}"
                                                                                name="website">
                                                                            <label>Website Portfolio</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <textarea class="form-control" rows="5"
                                                                                name="application">{{ application.application | capfirst }}
                                                                            </textarea>
                                                                            <label>Application</label>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" name="id"
                                                                        value="{{ application.id }}">
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                            class="btn btn-sm btn-outline-secondary"
                                                                            data-bs-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit"
                                                                            class="btn btn-sm btn-outline-success">
                                                                            Save Changes
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                                <!-- End floating Labels Form -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End view application modal-->
                                                <button class="btn btn-sm btn-black">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}