{% extends 'dash_main.html' %}
{% block main %}
<div class="page-inner">
    {% if messages %}
    <div class="bg-white p-5 text-center mb-3">
        {% for message in messages %}
        <div {%if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="page-category">
        <div class="container">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex w-100 justify-content-between">
                        <div class="card-title">Feedback</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feedback in feedbacks %}
                                    <tr>
                                        <td>{{ feedback.created_by|title }}</td>
                                        <td>{{ feedback.job|title }}</td>
                                        <td>{{ feedback.rating }}</td>
                                        <td>
                                            <div>
                                                <button class="btn btn-sm btn-black" data-bs-toggle="modal"
                                                data-bs-target="#viewfeedbackModal{{ feedback.id }}">
                                                    <span class="btn-label">
                                                        <i class="fa fa-archive"></i>
                                                    </span>
                                                    View
                                                </button>
                                                <!-- View feedback modal -->
                                                <div class="modal fade" id="viewfeedbackModal{{ feedback.id }}"
                                                    tabindex="-1">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Feedback</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Floating Labels Form -->
                                                                <form class="row g-3">
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ feedback.created_by|title }}"
                                                                                disabled>
                                                                            <label>Sender</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ feedback.job|title }}"
                                                                                disabled>
                                                                            <label>Task</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ feedback.create_date|timesince }} ago"
                                                                                disabled>
                                                                            <label>Published</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <textarea class="form-control" rows="5"
                                                                            disabled>{{ feedback.body|capfirst }}
                                                                            </textarea>
                                                                            <label>Message</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                value="{{ feedback.rating }} star"
                                                                                disabled>
                                                                            <label>Rating</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                    </div>
                                                                </form>
                                                                <!-- End floating Labels Form -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End view feedback modal-->
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}