{% extends 'dash_main.html' %}
{% load humanize %}
{% block main %}
<!-- Job Detail Start -->
<div class="page-inner">
    {% if messages %}
    <div class="bg-white p-5 text-center mb-3">
        {% for message in messages %}
        <div {%if message.tags %} class="message.tags" {% endif %}>
            message
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="page-category">
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header d-flex w-100 justify-content-between">
                                <div class="card-title">Latest Short Tasks</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Task Entry</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Posted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in latest_short_tasks %}
                                            <tr>
                                                <td><a href="{% url 'job_details' task.id %}">{{ task.job|title }}</a></td>
                                                <td>{{ task.category|title }}</td>
                                                <td>{{ task.create_date|timesince }} ago</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header d-flex w-100 justify-content-between">
                                <div class="card-title">My Applications</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Task Entry</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Posted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for short_task in my_short_tasks %}
                                            <tr>
                                                <td><a href="{% url 'job_details' short_task.id %}">{{ short_task.job|title }}</a></td>
                                                <td>{{ short_task.status|title }}</td>
                                                <td>{{ short_task.create_date|timesince }} ago</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bg-white rounded p-3 mb-2 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="px-5">Pending Tasks</h4>
                        </div>
                        {% if pending_tasks %}
                        {% for pending_task in pending_tasks %}
                        <div class="bg-white rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h5 class="mb-4">Summary</h5>
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                <strong>Task:</strong> {{ pending_task.job|capfirst }}
                            </p>
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                <strong>Category:</strong> {{ pending_task.category|capfirst }}
                            </p>
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                <strong>Location:</strong> {{ pending_task.location|capfirst }}
                            </p>
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                <strong>Budget:</strong> ${{ pending_task.payment|intcomma }}
                            </p>
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                <strong>Published:</strong> {{ pending_task.create_date|timesince }} ago
                            </p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="bg-white rounded p-3 mb-2 wow slideInUp" data-wow-delay="0.1s">
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                No Data
                            </p>
                        </div>
                        {% endif %}
                        <div class="bg-white rounded p-3 mt-5 mb-2 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="px-5">Completed Tasks</h4>
                        </div>
                        {% if completed_tasks %}
                        <div class="bg-white rounded p-3 mb-2 wow slideInUp" data-wow-delay="0.1s">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Task</th>
                                                <th scope="col">Posted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in completed_tasks %}
                                            <tr>
                                                <td><a href="{% url 'job_details' task.id %}">{{ task.job|title }}</a></td>
                                                <td>{{ task.create_date|timesince }} ago</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="bg-white rounded p-3 mb-2 wow slideInUp" data-wow-delay="0.1s">
                            <p>
                                <i class="fa fa-angle-right text-primary me-2"></i>
                                No Data
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->
{% endblock %}